.question-container{
   background-color: rgb(253, 253, 253);
   width: 100%;
   border: 1px solid black;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 20px 0;
   padding: 10px px;
   align-items: center;

 span{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.avatar{
    width: 25%;
    margin:0px 10px;
    display: flex;
    justify-content: center;
}

.details{
    width: 70%;
    margin: 20px 0px;
    padding: 0px 10px;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-left: 1px solid;
}

h3{
    padding-left: 10px;
}

}

.answer-container{
    display: flex;
    width: 400px;
    border: 1px solid black;
}