/*
nav{
    width: 800px;
    margin: 0px auto;
    height: 100px;
    color: black;
    margin-top: 20px;
}

nav a{
    text-decoration: none;
    margin:0px 20px;
    color: var(--text-color);
    padding: 10px 10px;
}

a{
    display: inline-block;
}
a:hover{
    color:white;
    background-color: var(--primary-color);
}

*/