#home label{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#home [type="radio"]:checked + label{
    background:black;
    color: white;
    transform: scale(1.1);
    transition: all .5s;
}

#home [type="radio"]{
    opacity: 0;
}

.question-animation:hover{
    transform: scale(1.02);
    transition: all .2s;
}

.home-container{
    animation: show 1s;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}