.login-container{
    width: 50%;
    height: 500px;
    color:white;
    background: #4CAF50;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin:100px 0px;

    h2{
        width: 100%;
        text-align: center;
        margin: 8px 0px;
    }

    select{
        width: 80%;
        margin: 8px 10%;
    }

    a{
        width: 50%;
        margin: 8px auto;
    }
}