/*
:root {
  --primary-color: #5a56bf;
  --secondary-color: #d9bca3;
  --header-color: #222222;
  --text-color: #000000;
  --button-primary-color: #f2e7dc;
}

.App {
  width: 800px;
  margin: 0px auto;
}

.App-container {
  justify-content: center;
  display: flex;
}

h2,h3,p{
  margin:0px;
}

/*
Normalization
*/
* {
  outline: none;
}

button {
  outline: none !important;
}
a:link,a:hover{
  text-decoration: none !important;
}

a:hover{
  color:#ffffff !important;
}

.App {
  min-height: 100vh;
}
